<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" *ngFor="let poke of pokemonArray">
    <img alt="Imagem do Pokémon {{ poke.name }}" src="{{ poke.sprites.front_default }}" />
    <ion-card-header>
      <ion-card-title>{{ poke.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Experiência: {{ poke.base_experience }}</p>
      <p>Altura: {{ (poke.height / 10).toFixed(1) }} m</p>
      <p>Peso: {{ (poke.weight / 10).toFixed(1) }} kg</p>

      <p style="font-size: 1.25rem; margin: 8px 0;">Tipo do pokémon</p>
      <ion-list lines="full" style="padding: 0">
        <ion-item color="primary" *ngFor="let types of poke.types">
          <ion-label>{{ types.type.name }}</ion-label>
        </ion-item>
      </ion-list>

      <p style="font-size: 1.25rem; margin: 8px 0;">Habilidades do pokémon</p>
      <ion-list lines="full" style="padding: 0">
        <ion-item color="primary" *ngFor="let habilidades of poke.abilities">
          <ion-label>{{ habilidades.ability.name }}</ion-label>
        </ion-item>
      </ion-list>

      <p style="font-size: 1.25rem; margin: 8px 0;">Status do pokémon</p>
      <ion-list lines="full" style="padding: 0">
        <ion-item color="primary" *ngFor="let status of poke.stats">
          <ion-label>{{ status.stat.name }}: {{ status.base_stat }}</ion-label>
        </ion-item>
      </ion-list>

      <br />
      <ion-button color="success" (click)="listing(poke.id+1)">Próximo</ion-button>
      <ion-button color="success" routerLink="/home">Ínicio</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>