<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input label="Nome" label-placement="floating" fill="solid" placeholder="example of examples" required></ion-input>
    <br />

    <ion-input type="email" label="E-mail" label-placement="floating" fill="solid" placeholder="example@gmail.com" required></ion-input>
    <br />

    <ion-textarea label="Mensagem" label-placement="floating" fill="solid" placeholder="Quero falar sobre...." required></ion-textarea>
    <br />

    <ion-button><ion-icon slot="start" name="send"></ion-icon> Enviar</ion-button>
  </div>
</ion-content>