<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplicativo Pokédex - Poke-Ionic</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Este aplicativo foi desenvolvido para exibir informações sobre os Pokémons.</p>
      <p>Ele consome uma <a href="https://pokeapi.co" target="_blank">API REST ful</a> pública para obter dados atualizados sobre os Pokémon.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações de Contato</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul style="font-size: 1rem;">
        <li><strong>Desenvolvedor:</strong> Kaik D' Andrade</li>
        <li><strong>Email:</strong> Kaikdossantossilva2@gmail.com</li>
        <li><a href="https://github.com/kaikdandrade" target="_blank"><ion-icon name="logo-github"></ion-icon>  Github</a></li>
      </ul>

      <ion-button routerLink="/contact">Ir para contato</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
