<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Políticas de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>Coleta de Dados</h2>
      <p>
        Nosso aplicativo Pokédex coleta e armazena dados apenas para fins de exibição de informações relacionadas aos
        Pokémons. Os dados coletados incluem o nome do Pokémon, sua descrição, habilidades e outras informações
        relevantes.
        Não coletamos informações pessoais identificáveis dos usuários.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Uso de Dados</h2>
      <p>
        Os dados coletados são usados exclusivamente para fornecer informações sobre os Pokémons no aplicativo. Não
        compartilhamos essas informações com terceiros nem as utilizamos para fins de marketing ou publicidade.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Cookies</h2>
      <p>
        Nosso aplicativo não utiliza cookies para rastrear informações dos usuários.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Segurança</h2>
      <p>
        Tomamos medidas de segurança adequadas para proteger os dados coletados contra acesso não autorizado ou alteração.
        No entanto, é importante lembrar que nenhum método de transmissão ou armazenamento eletrônico é 100% seguro, e não
        podemos garantir a segurança absoluta dos dados.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Alterações na Política de Privacidade</h2>
      <p>
        Podemos atualizar nossa Política de Privacidade periodicamente. Recomendamos que você revise esta página
        regularmente para se manter informado sobre quaisquer alterações. Ao continuar a usar nosso aplicativo após a
        publicação de quaisquer alterações nesta política, você concorda com essas alterações.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>  
      <h2>Contato</h2>
      <p>
        Se você tiver alguma dúvida ou preocupação sobre nossa Política de Privacidade, entre em contato conosco através
        do e-mail: kaikdossantossilva2@gmail.com.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>