<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ínicio</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="flex-container">
        <ion-col size="7">
          <ion-searchbar placeholder="Pesquisar..." [(ngModel)]="searchValue" required></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="searchPoke()">Pesquisar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" *ngIf="notFound">
    <p style="font-size: 1.5rem;">Pokémon não encontrado...</p>
    <img src="assets/charmander_bad.png" alt="Pokémon charmandar triste sentado em uma pedra olhando pro além" />
  </div>

  <ion-loading class="custom-loading" [isOpen]="loading" showBackdrop="false" message="Carregando..." spinner="circles"></ion-loading>

  <ion-list *ngFor="let poke of pokemonArray" [ngClass]="{'disabled-me': notFound}">
    <ion-item (click)="handleClick(poke.id)" style="cursor: pointer;">
      <ion-avatar slot="start"><img src="{{ poke.sprites.front_default }}" alt="Imagem do Pokémon {{ poke.name }}"
          style="width: 50px; height: 50px; object-fit: cover;" /></ion-avatar>
      <ion-label style="text-transform: capitalize;">{{ poke.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding" *ngIf="!searching && !notFound">
    <ion-button (click)="moreListingPoke()">Ler Mais!</ion-button>
  </div>

  <div class="ion-padding" *ngIf="searching && !notFound">
    <ion-button (click)="searchClean()">Voltar</ion-button>
  </div>
</ion-content>